body {
  margin: 0;
}

#header {
  margin-top: 0;
  height: 55px;
}

.nav-btn {
  display: inline-block;
  margin-left: 7px;
  margin-right: 10px;
}

li a {
  text-decoration: none;
  color: ;
}

li a:hover {
  text-decoration: underline;
}

#main_background {
  height: 100%;
  width: 100%;
  clip: rect(0,0,0,0);
}

#myimage {
  border-radius: 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
  position: absolute;
  margin-left: 200px;
  margin-top: -900px;
  border: 4px solid #c0c0c0;
}

#main_content {
  color: grey;
  font-size: 30px;
}

.desc {
  position: absolute;
  float: right;
  margin-top: -500px;
  min-width = 500px;
  background-color: #e0e0e0;
  margin-left: 200px;
  text-align: right;
}

#about {
  position: relative;
  width: 51%;
  height: 780px;
}

#skills {
  position: relative;
  height: 780px;
  background-color: grey;
  width: 50%;
}

#lang {
  margin-left: 1000px;
}

#footer {
  background-color: #202020;
  height: 300px;
  width: 100%;
  color: #e0e0e0;
  text-align: center;
}

#name {
  font-size: 20px;
}

#in {
  margin-left: 40px;
  margin-right: 40px;
}

#git {
  margin-left: 40px;
}

a img
{
  border: 0 none;
}

.image-link
{
  text-decoration: none;
}
